* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #FFF;
}

nav {
  background-color: #0056A5;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px #000;
  position: fixed;
  z-index: 1;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background-color: #1b9bff;
  transition: .5s;
}

.checkbtn {
  color: white;
  font-size: 30px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }

  ul {
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    position: fixed;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}


/* content content content */

/* container */

.container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.all {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

/* awal */

.awal {
  background-color: #7700FF;
  padding-bottom: 20px;
  margin-top: 60px;
}

.awal img {
  width: 100%;
}

.awal h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
}

.awal p {
  color: white;
  text-align: center;
  padding-bottom: 40px;
  font-size: 20px;
}

.awal .h3awl {
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: tomato;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.awal .h3awl a {
  color: white;
}

.awal .h3awl a:hover {
  color: #00FF5B;
  font-size: 20px;
}

.awal .arw {
  right: 20px;
  bottom: 20px;
  font-size: 40px;
  margin-top: 100px;
  position: fixed;
}

/* beli followers */

.belifollowers {
  background-color: #1C6DD0;
  width: 340px;
  padding: 10px;
  margin-top: -184px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  position: fixed;
}

.belifollowers h2 {
  color: white;
}

.belifollowers p {
  color: white;
  text-align: left;
}

#beli:checked~.belifollowers {
  margin-top: 70px;
}

/* testimoni */

.testimoni {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 340px;
  background-color: #F7F7F7;
  border-radius: 20px;
  text-align: center;
}

.testimoni h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.testimoni img {
  width: 150px;
  border-radius: 100px;
}

.testimoni .ba {
  width: 320px;
  border-radius: 0px;
}

/* keuntungan */

.keuntungan {
  color: #000;
  font-size: 23px;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.keuntungan img {
  width: 300px;
  margin-top: 20px;
}

.keuntungan .h3child {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.keuntungan p {
  color: black;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

/* copyright */

.copyright {
  color: black;
  background-color: #D6D6D6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: -20px;
}

.copyright img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.copyright h1 {
  text-align: center;
  padding: 10 0px;
  color: black;
}

.copyright h3 {
  color: black;
  text-align: left;
}

.copyright h4 {
  text-align: center;
  color: black;
}

.copyright h4 a {
	color: #5B5B5B;
}

.copyright p {
  text-align: left;
  font-size: 15px;
  padding-bottom: 20px;
}

.copyright p a {
  color: #5B5B5B;
}

.copyright p a:hover {
  color: #000;
  background-color: #D6D6D6;
  border-radius: 10px;
}
