* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #D6D6D6;
}

nav {
  background-color: #0056A5;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px #000;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background-color: #1b9bff;
  transition: .5s;
}

.checkbtn {
  color: white;
  font-size: 30px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* content content content */


div {
  color: black;
  background-color: #D6D6D6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  text-align: center;
  padding: 20 0px;
}

h4 {
  padding: 10 0px;
  text-align: center;
}

h4 a {
 color: #5B5B5B;
}

p a {
  color: #5B5B5B;
  text-align: left;
}

p a:hover {
  color: #000;
  background-color: #D6D6D6;
  border-radius: 10px;
}