* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #FFF;
}

nav {
  background-color: #0056A5;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px #000;
  position: fixed;
  z-index: 1;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background-color: #1b9bff;
  transition: .5s;
}

.checkbtn {
  color: white;
  font-size: 30px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* content content content */

/* container */

.container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.all {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}



/* info */

.belifollowers {
  background-color: #1C6DD0;
  padding: 10px;
  margin-top: -300px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  position: fixed;
}

.belifollowers h2 {
  color: white;
  text-align: left;
  font-size: 25px;
}

.belifollowers p {
  color: white;
  text-align: left;
}

#beli {
  left: 1000px;
}

#beli:checked~.belifollowers {
  margin-top: 70px;
}



/* service */

img {
  width: 110px;
  border-radius: 100px;
  border: 5px solid #C20000;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 0 6px #000;
}

.tools-followers {
  background-color: #674EA7;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 75px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 35px;
}

p {
  color: white;
  text-align: left;
  padding-top: 10px;
}

h3 {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: tomato;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 30px;
}

h3 a {
  color: white;
}

h3 a:hover {
  color: #00FF5B;
  font-size: 17px;
}

.tools-like {
  background-color: #674EA7;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

h3 {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: tomato;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 30px;
}

h3 a {
  color: white;
}

h3 a:hover {
  color: #00FF5B;
  font-size: 17px;
}

.tools-comment {
  background-color: #674EA7;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.arrow {
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  margin-top: 100px;
  position: fixed;
}