* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #FFF;
}

nav {
  background-color: #0056A5;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px #000;
  position: fixed;
  z-index: 1;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background-color: #1b9bff;
  transition: .5s;
}

.checkbtn {
  color: white;
  font-size: 30px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }

  ul {
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    position: fixed;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* content content content */

/* container */

.container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.all {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

/* awal */

.awal {
  background-color: #7700FF;
  padding-bottom: 20px;
}

.awal img {
  width: 100%;
  margin-top: 100px;
}

.awal h1 {
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

/* jumlah followers */

.pilih-followers {
	width: 330px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: -10px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 2px solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.satu-k {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
}

.satu-k:hover {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: #00FF5B;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
	box-shadow: 2px 2px;
	transition: .5s;
}

.lima-k {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
}

.lima-k:hover {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: #00FF5B;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
	box-shadow: 2px 2px;
	transition: .5s;
}

.sepuluh-k {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
}

.sepuluh-k:hover {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: #00FF5B;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
	box-shadow: 2px 2px;
	transition: .5s;
}

.duapuluh-k {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
}

.duapuluh-k:hover {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: #00FF5B;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
	box-shadow: 2px 2px;
	transition: .5s;
}

.tigapuluh-k {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
}

.tigapuluh-k:hover {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: #00FF5B;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
	box-shadow: 2px 2px;
	transition: .5s;
}

.empatpuluh-k {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
}

.empatpuluh-k:hover {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: #00FF5B;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
	box-shadow: 2px 2px;
	transition: .5s;
}

.limapuluh-k {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
}

.limapuluh-k:hover {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: #00FF5B;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
	box-shadow: 2px 2px;
	transition: .5s;
}

.seratus-k {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
}

.seratus-k:hover {
	width: 320px;
	height: 70px;
	text-align: center;
	background-color: #00FF5B;
	padding-top: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	border: 1px solid;
	box-shadow: 2px 2px;
	transition: .5s;
}

.pilih-followers h1 {
	display: inline;
}

.pilih-followers .jumlah input {
	display: none;
}

/* masuk */

.pilih-followers .masuk {
	width: 320px;
	text-align: center;
	background-color: white;
	padding: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	border: 1px solid;
}

.masuk img {
	width: 200px;
	border-radius: 20px;
	margin-top: 20px;
}

form .txt_field {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;
    }

    .txt_field input {
      width: 100%;
      padding: 0 5px;
      height: 40px;
      font-size: 16px;
      border: none;
      background: none;
      outline: none;
    }

    .txt_field label {
      position: absolute;
      top: 50%;
      left: 5px;
      color: #adadad;
      transform: translateY(-50%);
      font-size: 16px;
      pointer-events: none;
      transition: .5s;
    }

    .txt_field span::before {
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #2691d9;
      transition: .5s;
    }

    .txt_field input:focus~label,
    .txt_field input:valid~label {
      top: -5px;
      color: #2691d9;
    }

    .txt_field input:focus~span::before,
    .txt_field input:valid~span::before {
      width: 100%;
    }

    .pass {
      margin: -5px 0 20px 5px;
      color: #a6a6a6;
      cursor: pointer;
    }

    .pass a {
      color: #a6a6a6;
    }

    .pass a:hover {
      text-decoration: underline;
      color: black;
    }

    input[type="submit"] {
      width: 100%;
      height: 50px;
      margin-bottom: 20px;
      border: 1px solid;
      background: #2691d9;
      border-radius: 25px;
      font-size: 18px;
      color: #e9f4fb;
      font-weight: 700;
      cursor: pointer;
      outline: none;
    }

    input[type="submit"]:hover {
      border-color: #2691d9;
      transition: .5s;
    }

/* copyright */

.copyright {
  color: black;
  background-color: #D6D6D6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: -20px;
}

.copyright img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.copyright h1 {
  text-align: center;
  padding: 10 0px;
  color: black;
}

.copyright h3 {
  color: black;
  text-align: left;
}

.copyright h4 {
  text-align: center;
  color: black;
}

.copyright h4 a {
	color: #5B5B5B;
}

.copyright p {
  text-align: left;
  font-size: 15px;
  padding-bottom: 20px;
}

.copyright p a {
  color: #5B5B5B;
}

.copyright p a:hover {
  color: #000;
  background-color: #D6D6D6;
  border-radius: 10px;
}

/* arrow*/

.arw {
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  margin-top: 100px;
  position: fixed;
}





