* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #FFF;
}

nav {
  background-color: #0056A5;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px #000;
  position: fixed;
  z-index: 1;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background-color: #1b9bff;
  transition: .5s;
}

.checkbtn {
  color: white;
  font-size: 30px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* content content content */

/* container */

.container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.all {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}


/* about */

.about {
  background-color: #FFF;
  padding-top: 90px;
}


div {

  padding-left: 10px;
  padding-right: 10px;
}

.faq {
  width: 50px;
  float: left;
  padding-top: 5px;
}

h1 {
  font-size: 30px;
  padding-top: 10px;
}

h3 {
  font-size: 25px;
}

p {
  text-align: left;
}

.cara {
  padding-left: 35px;
}

p a {
  color: #9500FF;
}

p a:hover {
  color: #3700FF;
  font-size: 20px;
}

/* copyright */

.copyright {
  color: black;
  background-color: #D6D6D6;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 30px;
  margin-bottom: -20px;
}

.copyright img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.copyright h1 {
  text-align: center;
  padding: 10 0px;
  color: black;
}

.copyright h3 {
  color: black;
  text-align: left;
}

.copyright h4 {
  text-align: center;
}

.copyright h4 a {
	color: #5B5B5B;
}

.copyright p {
  text-align: left;
  font-size: 15px;
}

.copyright p a {
  color: #5B5B5B;
}

.copyright p a:hover {
  color: #000;
  background-color: #D6D6D6;
  border-radius: 10px;
}

.arrow {
  right: 20px;
  bottom: 20px;
  font-size: 40px;
  margin-top: 100px;
  position: fixed;
}